<!DOCTYPE html>

<html>
    <head>
        <title>An open source alternative to AnyOrigin</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">

        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <style type="text/css">
            .useit {
                background-color:#add8e6;
                border-color: #5f9ea0;
                border-style: solid;
                border-width: 2px;
                width:850px;
                padding: 2px;
            }
            .useit h2 {
                margin: 0;
            }
        </style>
    </head>
    <body>
        <h1>Whatever Origin</h1>
        <h2>A humble open source clone of <a href="http://anyorigin.com/">AnyOrigin</a></h2>
        <h3>With slightly better https support and uglier style</h3>

        <p>When I was facing <a href="http://en.wikipedia.org/wiki/Same_origin_policy">Same Origin Policy</a> problems while developing <a href="http://bitcoinpie.com/">Bitcoin Pie</a>, I was excited to discover how <a href="http://anyorigin.com">anyorigin.com</a>
            solved the issue for me ... only, a week later it stopped working for some https sites.</p>

        <p>Having recently discovered <a href="http://heroku.com">Heroku</a> and <a href="http://www.playframework.org">Play! Framework</a>, I found that deploying a simple server app is no longer a big deal, and so made out to develop a simple, open source alternative to Any Origin.
            Check out the project <a href="https://github.com/ripper234/Whatever-Origin">on github</a> (it contains a nice demo of Play!'s asynch IO).
        </p>

        <div class="useit">
        <h2>Use It</h2>

        <p>Usage is exactly like anyorigin. For example, to fetch the data from http://google.com with jQuery, use this snippet:</p>

        <div class="code">
            <pre>
$.getJSON('http://whateverorigin.org/get?url=' + encodeURI('http://google.com') + '&callback=?', function(data){
	alert(data.contents);
});
        </pre></div>

        </div>
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-3992244-10']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
    </body>
</html>
